= form_tag bricks_path, :method => 'get', :id => 'bricks_search' do
  %p
    = text_field_tag :search, params[:search]
    = submit_tag 'Search', :name => nil

#bricks
  = render 'shared/index', :resources => @bricks