%table#relationship_data
  %thead
    %tr.middle_header
      %th Sources
      %th Targets
  %tbody
    %tr
      %td.source
        %a{:href => "#"} Input one
      %td
        %a{:href => "#"} Output one
    %tr
      %td.source
        %a{:href => "#"} Input two
      %td
        %a{:href => "#"} Output two
    %tr
      %td.source
        %a{:href => "#"} Input three
      %td
        %a{:href => "#"} Output three