- content_for :header do
  = link_to 'All Bricks', bricks_path 
  &gt; 
  = link_to @mortar.brick.name, brick_path(@mortar.brick)
  &gt; Mortar
  
= render 'table_data'

%br/

= render 'shared/relationships_table'

