- content_for :header do
  This is what the pkProject is. A lot of confusing things about phyisiology that you would understand if you are a researcher, scientist or student at MIT. Hopefully this will be useful.

#buttons.home
  = link_to 'Bricks', bricks_path
  = link_to 'States', states_path
  = link_to 'Categories', categories_path