- content_for :header do
  This is what the pkProject is. A lot of confusing things about phyisiology that you would understand if you are a researcher, scientist or student at MIT. Hopefully this will be useful.

#buttons.home
  %ul
    %li
      %a{:href => "all_bricks.html"} Bricks
    %li.indent
      %a{:href => "#"} States
    %li.indent
      %a{:href => "#"} Categories