!!! 1.1
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "en", :name => "language"}/
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "keywords"}/
    %title Home | PKProject
    = stylesheet_link_tag :all
  %body
    #bar
    #wrapper
      #header
        %span.headerImg
          %h1
            = link_to "", root_url
            %span pkProject
        %span.headerLinks
          %ul
            %li{:style => "border:none;"}
              %a{:href => "#"} About
            %li
              %a{:href => "#"} Help
            %li
              %a{:href => "#"} Contact Us
        %span.search
          %form#cse-search-box.searchBox{:action => "http://www.google.com/cse"}
            %input{:name => "cx", :type => "hidden", :value => "006303564329511420807:yfb1kmigwag"}/
            %input{:name => "ie", :type => "hidden", :value => "UTF-8"}/
            %input{:name => "q", :size => "20", :type => "text", :value => "Search pkProject"}/
            %input.submitButton{:name => "Submit", :style => "background-color:#eee;", :type => "submit", :value => "Submit"}/
      %hr/
      %hr/
      #topText
        %h1= yield(:header)
      %hr/
      #content
        = yield
      / end of content
      %hr/
      #footer
        %h6 ©2010 - The University of Mississippi Medical Center
        %h6 Supported by: NSF EPSCOR, NASA, NIH
    / end of wrapper